<template name="root">
	<textarea class="new-item" placeholder="new Item"></textarea>
	<label>
		<input type="checkbox" class="new-item-private" />
		private
	</label>
	<h1>Items:</h1>

	{{#if hasTheme 'table'}}
			<table>
				<tr>
					<th>Name</th>
					<th>Id</th>
					<th>Action</th>
				</tr>
				{{#each items}}
					<tr>
						<td>{{name}}</td>
						<td>{{_id}}</td>
						<td><button class="remove-item">remove</button></td>
					</tr>
				{{/each}}
			</table>
		{{else}}
			{{#each items}}
				<p><strong>{{name}}</strong> <small>[{{_id}}]</small><button class="remove-item">remove</button></p>
			{{/each}}
	{{/if}}

	<br /><br /><br /><br /> <hr />
	<pre>
Meteor.subscribe('items-all');
Session.set('theme', 'table');
Session.set('theme', '');
	</pre>
</template>